In [1]:
# imported dependencies
import pandas as pd
import numpy as np
import glob
import matplotlib.pyplot as plt

In [2]:
# compiled a list of all raw research data files (see RESEARCH for source details)
filenames = glob.glob("*with_ann.csv")

In [3]:
# imported data from research CSV files into Pandas DataFrames, encoded into UTF-8, 
list_of_dfs = [pd.read_csv(filename, engine='c', sep=',', encoding = 'UTF-8', na_values=['*','**','***','N','-','',' ', '(X)'],low_memory=False, memory_map=True) for filename in filenames]
list_of_dfs_full = list_of_dfs

In [4]:
# list_of_dfs
for dataframe, filename in zip(list_of_dfs, filenames):
    dataframe['filename'] = filename
    #save geolabels for later
    oldcols_df = list_of_dfs[0].filter(['GEO.id','GEO.id2','GEO.display-label'], axis=1)
    dataframe.drop(['GEO.id','GEO.id2','GEO.display-label','filename'], axis=1, inplace=True)
    
    dataframe.drop([0], axis=0, inplace=True)
#     filename.replace(regex=True,inplace=True,to_replace=r'_with_ann.csv',value=r'')
# list(my_dataframe)

In [5]:
#internet says that ignore_index=False shouldn't be used. WHY?
combined_df = pd.concat(list_of_dfs, axis=1, ignore_index=True)

In [6]:
combined_na_df1 = combined_df.dropna(how='all', axis=1)

c1 = combined_na_df1.astype(str)

In [8]:
# combined_na_df1 = combined_df.dropna(how='all', axis=0)
# combined_na_df1 = combined_df.dropna(how='all', axis=1)
c2 = combined_na_df1.astype(str)

In [9]:
c1.head()

,0,1,2,3,4,5,6,7,8,9,...,10333,10334,10340,10346,10352,10358,10364,10370,10376,10382
1,2587,196,1287,155,1300,104,5.5,2.7,3.6,2.7,...,1.8,14.7,14.2,6.7,9.5,12.9,13.4,4.1,12.9,12.9
2,1981,122,879,98,1102,107,6.8,3.8,8.6,4.7,...,1.1,7.7,7.5,3.4,4.9,6.8,7.0,3.3,6.8,6.8
3,5246,544,2353,353,2893,337,7.4,3.6,8.6,5.5,...,3.3,6.7,6.7,3.0,4.0,6.7,6.7,2.4,6.0,6.7
4,4222,453,1851,266,2371,270,6.2,2.0,5.5,2.7,...,1.9,7.6,6.1,4.1,3.6,5.4,7.5,4.2,6.1,5.2
5,3573,262,1653,249,1920,298,5.3,2.2,3.6,3.2,...,5.7,3.9,3.8,2.1,2.6,3.0,3.0,1.2,3.0,3.0

In [10]:
c2.head()

,0,1,2,3,4,5,6,7,8,9,...,10333,10334,10340,10346,10352,10358,10364,10370,10376,10382
1,2587,196,1287,155,1300,104,5.5,2.7,3.6,2.7,...,1.8,14.7,14.2,6.7,9.5,12.9,13.4,4.1,12.9,12.9
2,1981,122,879,98,1102,107,6.8,3.8,8.6,4.7,...,1.1,7.7,7.5,3.4,4.9,6.8,7.0,3.3,6.8,6.8
3,5246,544,2353,353,2893,337,7.4,3.6,8.6,5.5,...,3.3,6.7,6.7,3.0,4.0,6.7,6.7,2.4,6.0,6.7
4,4222,453,1851,266,2371,270,6.2,2.0,5.5,2.7,...,1.9,7.6,6.1,4.1,3.6,5.4,7.5,4.2,6.1,5.2
5,3573,262,1653,249,1920,298,5.3,2.2,3.6,3.2,...,5.7,3.9,3.8,2.1,2.6,3.0,3.0,1.2,3.0,3.0

In [11]:
c1.replace([',','+', '-',' '], '', inplace=True)
c1.replace(['-1'], '1', inplace=True)
c1.replace(['2,500-'], '2500', inplace=True)
c1.replace(['250,000+'], '25000000', inplace=True)

In [12]:
c1.replace(['4,000+'], '4000', inplace=True)
c1.replace(['100-'], '100', inplace=True)
c1.replace(['2,000+'], '2000', inplace=True)

In [13]:
c1.replace(['1,000,000+'], '1000000', inplace=True)
c1.replace(['10,000-'], '10000', inplace=True)

In [14]:
c1.replace(['10,000+'], '10000', inplace=True)
c1.replace(['200-'], '200', inplace=True)

In [15]:
c1.replace(['1,000+'], '1000', inplace=True)
# c1.replace(['200-'], '200', inplace=True)

In [24]:
c1.head()

,0,1,2,3,4,5,6,7,8,9,...,10333,10334,10340,10346,10352,10358,10364,10370,10376,10382
1,2587,196,1287,155,1300,104,5.5,2.7,3.6,2.7,...,1.8,14.7,14.2,6.7,9.5,12.9,13.4,4.1,12.9,12.9
2,1981,122,879,98,1102,107,6.8,3.8,8.6,4.7,...,1.1,7.7,7.5,3.4,4.9,6.8,7.0,3.3,6.8,6.8
3,5246,544,2353,353,2893,337,7.4,3.6,8.6,5.5,...,3.3,6.7,6.7,3.0,4.0,6.7,6.7,2.4,6.0,6.7
4,4222,453,1851,266,2371,270,6.2,2.0,5.5,2.7,...,1.9,7.6,6.1,4.1,3.6,5.4,7.5,4.2,6.1,5.2
5,3573,262,1653,249,1920,298,5.3,2.2,3.6,3.2,...,5.7,3.9,3.8,2.1,2.6,3.0,3.0,1.2,3.0,3.0

In [25]:
# 
cols = c1.columns

In [26]:
c2 = c1.apply(pd.to_numeric, errors='coerce')

In [27]:
c2.head()

,0,1,2,3,4,5,6,7,8,9,...,10333,10334,10340,10346,10352,10358,10364,10370,10376,10382
1,2587,196,1287,155,1300,104,5.5,2.7,3.6,2.7,...,1.8,14.7,14.2,6.7,9.5,12.9,13.4,4.1,12.9,12.9
2,1981,122,879,98,1102,107,6.8,3.8,8.6,4.7,...,1.1,7.7,7.5,3.4,4.9,6.8,7.0,3.3,6.8,6.8
3,5246,544,2353,353,2893,337,7.4,3.6,8.6,5.5,...,3.3,6.7,6.7,3.0,4.0,6.7,6.7,2.4,6.0,6.7
4,4222,453,1851,266,2371,270,6.2,2.0,5.5,2.7,...,1.9,7.6,6.1,4.1,3.6,5.4,7.5,4.2,6.1,5.2
5,3573,262,1653,249,1920,298,5.3,2.2,3.6,3.2,...,5.7,3.9,3.8,2.1,2.6,3.0,3.0,1.2,3.0,3.0

##

In [28]:
pc_df = pd.DataFrame({})

In [29]:
c2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8057 entries, 1 to 8057
Columns: 9662 entries, 0 to 10382
dtypes: float64(7866), int64(1796)
memory usage: 594.0 MB

In [30]:
int_df = c2.select_dtypes(include=['int64'])

In [31]:
int_df.head()

,0,1,2,3,4,5,216,217,218,219,...,10318,10319,10322,10323,10324,10325,10328,10329,10330,10331
1,2587,196,1287,155,1300,104,2587,196,931,135,...,9,14,50,52,7,12,2410,201,44,44
2,1981,122,879,98,1102,107,1981,122,992,167,...,24,24,62,51,6,14,1823,138,27,21
3,5246,544,2353,353,2893,337,5246,544,2230,311,...,100,71,250,143,86,86,4108,463,180,138
4,4222,453,1851,266,2371,270,4222,453,2144,298,...,98,70,277,163,68,70,3385,327,143,69
5,3573,262,1653,249,1920,298,3573,262,1944,298,...,268,170,344,194,64,50,2379,254,306,136

In [32]:
pc_df = c2.select_dtypes(include=['float64'])

In [33]:
pc_df.head()

,6,7,8,9,10,11,12,13,14,15,...,10333,10334,10340,10346,10352,10358,10364,10370,10376,10382
1,5.5,2.7,3.6,2.7,7.4,4.5,2.4,1.6,2.6,1.9,...,1.8,14.7,14.2,6.7,9.5,12.9,13.4,4.1,12.9,12.9
2,6.8,3.8,8.6,4.7,5.3,4.0,6.6,3.2,5.6,3.9,...,1.1,7.7,7.5,3.4,4.9,6.8,7.0,3.3,6.8,6.8
3,7.4,3.6,8.6,5.5,6.4,3.0,6.7,2.1,7.8,3.6,...,3.3,6.7,6.7,3.0,4.0,6.7,6.7,2.4,6.0,6.7
4,6.2,2.0,5.5,2.7,6.7,3.1,3.4,1.6,3.4,1.9,...,1.9,7.6,6.1,4.1,3.6,5.4,7.5,4.2,6.1,5.2
5,5.3,2.2,3.6,3.2,6.7,3.5,5.0,2.4,4.0,2.5,...,5.7,3.9,3.8,2.1,2.6,3.0,3.0,1.2,3.0,3.0

In [34]:
intpcorr_df = int_df.corr(method='pearson')
intpcorrna_df = intpcorr_df.fillna(0)
intpcorrna_df.head()

,0,1,2,3,4,5,216,217,218,219,...,10318,10319,10322,10323,10324,10325,10328,10329,10330,10331
0,1.000000,0.714157,0.970057,0.732382,0.968245,0.748180,1.000000,0.714157,0.895258,0.768945,...,0.361156,0.420649,0.562440,0.569742,0.385878,0.391533,0.777970,0.778198,0.588759,0.543354
1,0.714157,1.000000,0.702717,0.898478,0.681244,0.879872,0.714157,1.000000,0.648267,0.841828,...,0.503367,0.578151,0.593550,0.637936,0.467955,0.491445,0.358938,0.755893,0.540789,0.554133
2,0.970057,0.702717,1.000000,0.757017,0.878532,0.680422,0.970057,0.702717,0.857013,0.729189,...,0.352973,0.403083,0.533147,0.532378,0.372075,0.371768,0.715093,0.720414,0.557288,0.509867
3,0.732382,0.898478,0.757017,1.000000,0.661194,0.742281,0.732382,0.898478,0.640920,0.771595,...,0.466980,0.537286,0.551817,0.584614,0.435174,0.458889,0.389467,0.703012,0.519579,0.535546
4,0.968245,0.681244,0.878532,0.661194,1.000000,0.771106,0.968245,0.681244,0.878604,0.761750,...,0.346980,0.412407,0.557397,0.572549,0.375938,0.387378,0.794009,0.788980,0.584311,0.543822

In [35]:
intpcorrna_df.to_csv('intpcorrna_df.csv')

In [33]:
# intpcorr_styled_df = intpcorrna_df.style.format("{:.2}").background_gradient(cmap=plt.get_cmap('coolwarm'), axis=1)
# intpcorr_styled_df.head()

In [36]:
pcpcorr_df = pc_df.corr(method='pearson')
pcpcorrna_df = pcpcorr_df.fillna(0)
pcpcorrna_df.head()

,6,7,8,9,10,11,12,13,14,15,...,10333,10334,10340,10346,10352,10358,10364,10370,10376,10382
6,1.000000,0.085097,0.851759,0.148674,0.835912,0.019420,0.502491,-0.022562,0.429868,0.006406,...,0.143173,-0.281381,-0.287569,-0.139952,-0.186649,-0.284653,-0.279003,-0.024747,-0.276812,-0.276145
7,0.085097,1.000000,0.121959,0.932134,0.068010,0.732261,-0.049021,0.924699,-0.026115,0.864815,...,0.537887,-0.015492,-0.011001,-0.021786,-0.021008,-0.001261,-0.011960,-0.060590,-0.038898,-0.073894
8,0.851759,0.121959,1.000000,0.228869,0.429674,-0.025197,0.424640,0.011383,0.336059,0.007247,...,0.124490,-0.239108,-0.243290,-0.124890,-0.159228,-0.239839,-0.235839,-0.029783,-0.234737,-0.230661
9,0.148674,0.932134,0.228869,1.000000,0.016444,0.616666,-0.020775,0.843523,-0.034014,0.867465,...,0.482331,-0.044280,-0.040498,-0.028846,-0.024683,-0.032705,-0.041774,-0.059658,-0.033326,-0.105243
10,0.835912,0.068010,0.429674,0.016444,1.000000,0.054601,0.421467,-0.041117,0.386560,-0.011755,...,0.116306,-0.235698,-0.242233,-0.111162,-0.155800,-0.240982,-0.235099,-0.011138,-0.234376,-0.235771

In [37]:
pcpcorrna_df.to_csv('pcppcorrna_df.csv')

In [38]:
pcpcorr_styled_df = intpcorrna_df.style.format("{:.2}").background_gradient(cmap=plt.get_cmap('coolwarm'), axis=1)
pcpcorr_styled_df

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

Traceback (most recent call last):
  File "C:\Users\micha\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3267, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-38-5c1f43f27326>", line 2, in <module>
    pcpcorr_styled_df
  File "C:\Users\micha\Anaconda3\lib\site-packages\IPython\core\displayhook.py", line 257, in __call__
    format_dict, md_dict = self.compute_format_data(result)
  File "C:\Users\micha\Anaconda3\lib\site-packages\IPython\core\displayhook.py", line 151, in compute_format_data
    return self.shell.display_formatter.format(result)
  File "C:\Users\micha\Anaconda3\lib\site-packages\IPython\core\formatters.py", line 180, in format
    data = formatter(obj)
  File "<decorator-gen-9>", line 2, in __call__
  File "C:\Users\micha\Anaconda3\lib\site-packages\IPython\core\formatters.py", line 224, in catch_format_error
    r = method(self, *args, **kwargs)
  File "C:\Users\micha\Anaconda3\lib\site-packages\IPython\core\formatters.py", line 345, in __call__
    return method()
  File "C:\Users\micha\Anaconda3\lib\site-packages\pandas\io\formats\style.py", line 151, in _repr_html_
    return self.render()
  File "C:\Users\micha\Anaconda3\lib\site-packages\pandas\io\formats\style.py", line 446, in render
    self._compute()
  File "C:\Users\micha\Anaconda3\lib\site-packages\pandas\io\formats\style.py", line 514, in _compute
    r = func(self)(*args, **kwargs)
  File "C:\Users\micha\Anaconda3\lib\site-packages\pandas\io\formats\style.py", line 547, in _apply
    self._update_ctx(result)
  File "C:\Users\micha\Anaconda3\lib\site-packages\pandas\io\formats\style.py", line 471, in _update_ctx
    j = self.columns.get_indexer([col_label])[0]
  File "C:\Users\micha\Anaconda3\lib\site-packages\pandas\core\indexes\base.py", line 3222, in get_indexer
    target = _ensure_index(target)
  File "C:\Users\micha\Anaconda3\lib\site-packages\pandas\core\indexes\base.py", line 4960, in _ensure_index
    converted, all_arrays = lib.clean_index_list(index_like)
  File "pandas\_libs\lib.pyx", line 506, in pandas._libs.lib.clean_index_list
  File "pandas/_libs/src\inference.pyx", line 369, in pandas._libs.lib.infer_dtype
  File "<frozen importlib._bootstrap>", line 983, in _find_and_load
  File "<frozen importlib._bootstrap>", line 963, in _find_and_load_unlocked
  File "<frozen importlib._bootstrap>", line 906, in _find_spec
  File "<frozen importlib._bootstrap_external>", line 1280, in find_spec
  File "<frozen importlib._bootstrap_external>", line 1252, in _get_spec
  File "<frozen importlib._bootstrap_external>", line 1364, in find_spec
  File "<frozen importlib._bootstrap_external>", line 81, in _path_stat
KeyboardInterrupt

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\micha\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2018, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'KeyboardInterrupt' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\micha\Anaconda3\lib\site-packages\IPython\core\ultratb.py", line 1095, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "C:\Users\micha\Anaconda3\lib\site-packages\IPython\core\ultratb.py", line 313, in wrapped
    return f(*args, **kwargs)
  File "C:\Users\micha\Anaconda3\lib\site-packages\IPython\core\ultratb.py", line 347, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "C:\Users\micha\Anaconda3\lib\inspect.py", line 1500, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "C:\Users\micha\Anaconda3\lib\inspect.py", line 1458, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "C:\Users\micha\Anaconda3\lib\inspect.py", line 696, in getsourcefile
    if getattr(getmodule(object, filename), '__loader__', None) is not None:
  File "C:\Users\micha\Anaconda3\lib\inspect.py", line 733, in getmodule
    if ismodule(module) and hasattr(module, '__file__'):
  File "C:\Users\micha\Anaconda3\lib\site-packages\py\_vendored_packages\apipkg.py", line 195, in __getattribute__
    return getattr(getmod(), name)
  File "C:\Users\micha\Anaconda3\lib\site-packages\py\_vendored_packages\apipkg.py", line 179, in getmod
    x = importobj(modpath, None)
  File "C:\Users\micha\Anaconda3\lib\site-packages\py\_vendored_packages\apipkg.py", line 69, in importobj
    module = __import__(modpath, None, None, ['__doc__'])
  File "C:\Users\micha\Anaconda3\lib\site-packages\pytest.py", line 18, in <module>
    from _pytest.main import Session
  File "<frozen importlib._bootstrap>", line 983, in _find_and_load
  File "<frozen importlib._bootstrap>", line 967, in _find_and_load_unlocked
  File "<frozen importlib._bootstrap>", line 677, in _load_unlocked
  File "<frozen importlib._bootstrap_external>", line 724, in exec_module
  File "<frozen importlib._bootstrap_external>", line 818, in get_code
KeyboardInterrupt

KeyboardInterrupt:

In [ ]:
# scorr_df = cuted_df.corr(method='spearman')
# scorrna_df = scorr_df.fillna(0)

In [ ]:
# scorrna_df.to_csv('scorrna_df')

In [ ]:
# scorrna_df

In [ ]:
# kcorr_df = cutdata_df.corr(method='kendall')

In [ ]:
# kcorr_df